.rankOuterW {
    display: flex;
    width: 40px;
    align-items: center;
    padding: 6px 0px;
    .rankIcon{
      width: 9px;
      margin-right: 8px;
    }
    .show{
        display: block;
    }
    .num{
      font-size: 13px;
      font-family: PingFang SC Medium, PingFang SC Medium-Medium;
      font-weight: 500;
      text-align: left;
      color: #666666;
    }
  }